#AddWordWrapper {
    background: dodgerblue;
    color: white;
    display: inline-block;
    width: 96%;
    max-width: 1140px;
}

#AddWordInLanguageWrapper {
    display: flex;
    width: 100%;
}

.AddWordButton {
    padding: 10px;
    background-color: lightblue;
}

@media screen and (max-width: 768px) {
    #AddWordInLanguageWrapper {
        flex-direction: column;
    }
}