table {
    table-layout: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#LinkToDictionary {
    padding: 10px;
    background-color: dodgerblue;
    display: inline-block;
    margin: 10px;
}

#SeeSomeWord {
    width: 96%;
    padding: 10px;
    margin: 10px auto;
    /* background-color: dodgerblue; */
}

#SeeSomeWord a {
    text-decoration: none;
    color: white;
}

#SeeSomeWord a:hover,
#SeeSomeWord a:active {
    color: orange;
    background-color: purple;
}