table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#LinkToDictionary {
    padding: 10px;
    background-color: dodgerblue;
    display: inline-block;
    margin: 10px;
}

#SeeSomeWord {
    width: 96%;
    padding: 10px;
    margin: 10px auto;
    /* background-color: dodgerblue; */
}