.inputText {
    margin: 15px;
    display: block;
    width: 400px;
    max-width: 80%;
    padding: 10px;
    font-size: 1rem;
}

#SubmitButton {
    padding: 15px;
    background-color: lightblue;
    margin: 10px;
}

#WrongPassword {
    display: none;
    color: red;
}